.body-container {
    .wrapper {
        .product-list-container {
            .brand-container {
                .brand-body {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr !important;
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                 
                    .favourite-brand-card {
                        border: 1px solid blue;
                        border-radius: 25px;
                        padding: 10px;
                        margin-right: 10px;
                        height: 300px;
                        // width: 100%;
                        text-decoration: none;
                        margin-top: 20px;
                        a {
                            .brand-product {
                                display: flex;
                                justify-content: center;

                                img {
                                    width: 160px !important;
                                    height: 160px !important;
                                }
                            }

                            .content {
                                width: 100%;

                                p {
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.slick-track {
    // width: 100%;
    display: flex;
    justify-content: space-between;
}