:root{
    --color-primary: #7380ec;
    --color-bg-primary: #E9F3FF;
    --color-danger: #ff7782;
    --color-bg-danger: #FFEEF3;
    --color-success: #41f1b6;
    --color-bg-success: #DFFFEA;
    --color-warning: #ffbb55;
    --color-bg-warning: #FFF8DD;
    --color-background: white;
    --color-info-dark: #d7dadd;
    --color-dark-variant: #677483;
}
.product-order-table-container{
    padding: 20px;
    border-radius: 15px;
    background-color: var(--color-background);
    width: 100%;
    .product-order-table-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 0 30px;
        .poduct-order-table-title{

        }
        .poduct-order-table-toolbar{

        }
    }
    .product-order-table-body{
        .poduct-order-table-wrapper{
            table.poduct-order-table-data{
                border-spacing: 0;
                width: 100%;

                thead{
                    tr{
                        th{
                            padding: 15px;
                            text-align: center;
                            color: var(--color-dark-variant);
                            &:last-child{
                                text-align: right;
                            }
                        }
                    }
                }
                tbody{
                    tr.odd{
                        td{
                            
                        }
                    }
                    tr.even{
                        td{
                            background-color: var(--color-info-dark);
                        }
                    }
                    tr{
                        td{
                            padding: 15px;
                            text-align: center;
                            font-weight: 600;
                            &:last-child{
                                text-align: right;
                            }
                            span.warning{
                                background-color: var(--color-bg-warning);
                                color: var(--color-warning);
                            }
                            span.success{
                                background-color: var(--color-bg-success);
                                color: var(--color-success);

                            }
                            span.danger{
                                background-color: var(--color-bg-danger);
                                color: var(--color-danger);

                            }
                            span.primary{
                                background-color: var(--color-bg-primary);
                                color: var(--color-primary);

                            }
                            span{
                                padding: 5px 10px;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}