    aside {
        background-color: #293042;
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        .sidebar-container {
            .top {
                margin-left: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 35px;
                height: 60px;

                .logo {
                    display: flex;
                    gap: 0.8rem;
                    margin-top: 10px;

                    img {
                        width: 2rem;
                        height: 2rem;
                    }

                    .admin-header-nav-title {
                        color: white;
                        margin-bottom: 20px;
                        font-size: 20px;

                    }
                }

                .close {
                    display: none;

                    .material-symbols-sharp {}
                }
            }

            .sidebar {
                display: flex;
                flex-direction: column;
                height: 100%;

                a {
                    display: flex;
                    color: var(--color-info-dark);
                    margin-left: 2rem;
                    gap: 1rem;
                    align-items: center;
                    position: relative;
                    height: 55px;
                    transition: all 300ms ease;
                    text-decoration: none;

                    &:hover {
                        color: var(--color-primary);
                    }

                    &:hover .material-symbols-sharp {
                        margin-left: 1rem;
                    }

                    .material-symbols-sharp {
                        font-size: 1.6rem;
                        transition: all 300ms ease;
                    }

                    h3 {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }

                .footer-sidebar {
                    width: 100%;
                    bottom: 10px;
                    border-top: 1px solid gray;
                }
            }
        }
    }